body {
  background: orange;
  text-align:center;
}
header {
  font-size: 50px;



}
.buttons {
  font-size: 18px;
  
  


}
h5 {
font-size: 22;

}

.ptag {
  font-size: large;


}


.hidden {
  display: none;


}


